html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background-size: contain;
}

/* Title */
.vert-text {
  position: relative;
  top: 300px;
  left: 200px;
}
#top .vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 1000%;
  font-weight: 1000;
  color: white;
  font-family: 'Amatic SC', cursive;
}
#top .vert-text h2{
  font-size: 300%;
  font-weight: 300;
  color: white;
  font-family: 'Playball', cursive;
  padding: 0;
  margin: 0;
  position: relative;
  right: 0px;
  top: -19px;
 }
/* Title text delay */
#delayFade {
   animation-duration: 10s;
   -moz-animation-duration: 10s;
   -webkit-animation-duration: 10s;
}
#top {
   animation-delay: 1s;
   -moz-animation-delay: 1s;
   -webkit-animation-delay: 1s;
    animation-duration: 2s;
   -moz-animation-duration: 2s;
   -webkit-animation-duration: 2s;

}
.background {
  display: table;
  width: 100%;
  height: 100%;
  filter: alpha(opacity:40);
  background: url(../images/cloud1.jpg) no-repeat center center fixed;
  -webkit-background-size: 100px 0px;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px -155px;
}
/* Nav-Bar Button */
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.inside-btn{
    position: relative;
    right: 5%;
}

/* Nav-Bar */
#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 230px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 60px;
  text-indent: 20px;
  position: relative;
  top: 80px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: uppercase;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 100px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 14px;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 230px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* intro */
.intro .vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.intro .vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}


.callout {
  color: #ffffff;
  display: table;
  height: 300px;
  width: 100%;
  background: url(../images/blurry.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Board */

.board {
  padding: 10px 0;
}

.board-item {
  margin-bottom: 0px;
}
.board-background {
  width: 100%;
  height: 100%;
  filter: alpha(opacity:40);
  background: url(../images/sunrise.jpg) no-repeat center center fixed;
  -webkit-background-size: 100px 0px;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px 0px;
}

.board h1 {
  top: 0px;
  font-size: 500%;
  text-align: center;
  position: relative;
  padding: 0px;
  margin-bottom: 0px;

}

/* Board Members */
.board_members {
    position: relative;
    bottom: 680px;
    text-align: center;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
}

.board_members #p1 {
  position: relative;
  top: 430px;
  left: 100px;
  opacity:0;
}
.board_members #p2 {
  position: relative;
  top: 130px;
  left: 160px;
  opacity:0;
}
.board_members #p3 {
  position: relative;
  bottom: 190px;
  left: 270px;
  opacity:0;
}
.board_members #p4 {
  position: relative;
  bottom: 500px;
  left: 440px;
  opacity:0;
}
.board_members #p5 {
  position: relative;
  bottom: 730px;
  left: 615px;
  opacity:0;
}
.board_members #p6 {
  position: relative;
  bottom: 900px;
  left: 800px;
  opacity:0;
}
.board_members #p7 {
  position: relative;
  bottom: 990px;
  left: 970px;
  opacity:0;
}
.board_members #p8 {
  position: relative;
  bottom: 1068px;
  left: 1080px;
  opacity:0;
}
.board_members #p9 {
  position: relative;
  bottom: 1170px;
  left: 1150px;
  opacity:0;
}

#board .board_members h3 {
  position: absolute;
  left: 40px;
  top:  190px;  
  color: white;
}

#board .board_members p {
    position: absolute;
    font-size: 130%;
    top: 240px;
    left: 60px;
    color: white;
    
}
.img-circle {
    border-radius: 50%;
   
}

/* About section */
#about .page-header{
  padding: 15px;
  margin: 0;
  font-size: 3.5em;
  f
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.tab-pane {
  margin-top: 1%;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 70%;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 85%;
  background-position: center;
  background-size: cover;
  background-position: 0px 55%;
}
.carousel-indicators {
  position: absolute;
  bottom: 94%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  border-radius: 10px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -6%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
#cap1 h1{
    color: purple;
}
#cap1 p{
    color: black;
    font-size: 130%;
}
.about-section{
    margin-bottom: 2.2%
}
.about-section p{
    font-size: 110%;
}
/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Footer */
footer {
    padding: 100px 0;
}

