html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background-size: contain;
}

/* Title */
.vert-text {
  position: relative;
  top: 19vw;
  left: 13%;
}
#top .vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 9vw;
  font-weight: 1000;
  color: white;
  font-family: 'Amatic SC', cursive;
}
#top .vert-text h2{
  font-size: 2.7vw;
  font-weight: 300;
  color: white;
  font-family: 'Playball', cursive;
  padding: 0;
  margin: 0;
  position: relative;
  right: 1.5%;
  top: -10px;
 }
/* Title text delay */
#delayFade {
   animation-duration: 7s;
   -moz-animation-duration: 7s;
   -webkit-animation-duration: 7s;
}
#top {
   animation-delay: 1s;
   -moz-animation-delay: 1s;
   -webkit-animation-delay: 1s;
    animation-duration: 2s;
   -moz-animation-duration: 2s;
   -webkit-animation-duration: 2s;

}
.background {
  display: table;
  width: 100%;
  height: 100%;
  filter: alpha(opacity:40);
  background: url(../images/cloud1.jpg) no-repeat center center fixed;
  -webkit-background-size: 100px 0px;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px 70%;
}
/* Nav-Bar Button */
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.inside-btn{
    position: relative;
    right: 5%;
}

/* Nav-Bar */
#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 230px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 60px;
  text-indent: 20px;
  position: relative;
  top: 80px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: uppercase;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 100px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 14px;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 230px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* intro */

.callout .text-center{
   display: table-cell; 
   vertical-align: middle;
   text-align: center;
   
}

.callout .text-center h1{
    color: white;
    font-size: 300%;
}

.callout {
  color: #ffffff;
  display: table;
  height: 350px;
  width: 100%;
  background: url(../images/hamer.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Board */

.board {
  padding: 10px 0;
}

.board-item {
  margin-bottom: 0px;
}
.board-background {
  width: 100%;
  height: 100%;
  filter: alpha(opacity:40);
  background: url(../images/Taj_Mahal.jpg) no-repeat center center fixed;
  -webkit-background-size: 100px 0px;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: -10px 0px;
}

.board h1 {
  top: 0px;
  font-size: 500%;
  text-align: center;
  position: relative;
  padding: 0px;
  margin-bottom: 0px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: black;

}

/* Speech bubble */
  .bubble {
    position: relative;
    bottom: 45%;
    left: 50%;
    width: 23vw;
    height: 13vh;
    padding: 0px;
    background: #FCFCFC;
    border: #0a0101 solid 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 10px 0px #616161;
    -moz-box-shadow: 2px 2px 10px 0px #616161;
    box-shadow: 2px 2px 10px 0px #616161;
}

  .bubble:after {
    content: "";
    position: absolute;
    bottom: -3.3vh;
    left: 30px;
    border-style: solid;
    border-width: 26px 15px 0;
    border-color: #FCFCFC transparent;
    display: block;
    width: 0;
    z-index: 1;
}

  .bubble:before {
    content: "";
    position: absolute;
    top: 12.4vh;
    left: 28px;
    border-style: solid;
    border-width: 28px 17px 0;
    border-color: #0a0101 transparent;
    display: block;
    width: 0;
    z-index: 0;
}

.bubble p{
    text-align: center;
    margin: 20px 10px 10px 10px;
    font-size: 1.5vw;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
/* Board Members */
.board_members {
    position: relative;
    bottom: 680px;
    text-align: center;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
}

.board_members #p1 {
  position: relative;
  top: 62%;
  left: 8%;
  opacity:0;
}

.board_members #p2 {
  position: relative;
  top: 16%;
  left: 11%;
  opacity:0;
}
.board_members #p3 {
  position: relative;
  bottom: 25%;
  left: 17%;
  opacity:0;
}
.board_members #p4 {
  position: relative;
  bottom: 70%;
  left: 32%;
  opacity:0;
}
.board_members #p5 {
  position: relative;
  bottom: 102%;
  left: 44%;
  opacity:0;
}
.board_members #p6 {
  position: relative;
  bottom: 127%;
  left: 60%;
  opacity:0;
}
.board_members #p7 {
  position: relative;
  bottom: 140%;
  left: 70%;
  opacity:0;
}
.board_members #p8 {
  position: relative;
  bottom: 150%;
  left: 78%;
  opacity:0;
}
.board_members #p9 {
  position: relative;
  bottom: 166%;
  left: 80%;
  opacity:0;
}

#board .board_members h3 {
  position: absolute;
  top:  190px;  
  color: white;
  font-size: 250%;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
}

#board .board_members p {
    position: absolute;
    font-size: 170%;
    top: 245px;
    color: white;
    font-family: 'Shadows Into Light', cursive;    
}
#p1 h3{
    left: 20px;
}
#p1 p{
    left: 55px;
}
#p2 h3{
    left: 0px;
}
#p2 p{
    left: 50px;
}
#p3 h3{
    left: -60px;
}
#p3 p{
    left: 50px;
}
#p4 h3{
    left: 0px;
}
#p4 p{
    left: 60px;
}
#p5 h3{
    left: 0px;
}
#p5 p{
    left: 65px;
}
#p6 h3{
    left: -5px;
}
#p6 p{
    left: 40px;
}
#p7 h3{
    left: 20px;
}
#p7 p{
    left: 60px;
}
#p8 h3{
    left: 0px
}
#p8 p{
    left: 30px
}
#p9 h3{
    left: -60px;
}
#p9 p{
    left: 60px;
}
.img-circle {
    border-radius: 50%;
   
}

/* About section */
#about .page-header{
  padding: 15px;
  margin: 0;
  font-size: 3.5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.tab-pane {
  margin-top: 1%;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 70%;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 85%;
  background-position: center;
  background-size: cover;
  background-position: 0px 55%;
}
.carousel-indicators {
  position: absolute;
  bottom: 94%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  border-radius: 10px;
}
.carousel-caption {
    position: relative;
    bottom: 7%;
    left: 0%;
    z-index: 10;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    height: 20%;
}

/* Carousel Captions */
.carousel-inner p{
  font-size: 1.3vw;
  bottom: 1vh;
  position: relative;
}
.carousel-inner h1{
  font-size: 2.5vw;
  bottom: -3%;
  position: relative;
}

#cap1 h1{
    color: purple;
}
#cap1 p{
    color: black;
}
#cap2 h1{
    color: black;

}
#cap2 p{
    color: black;

}

#cap3 h1{
    color: black;

}
#cap3 p{
    color: black;

}
.about-section{
    margin-bottom: 2.2%
}
.about-section p{
    font-size: 1.0vw;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Events */
.upcoming-panel{
    position: relative;
    top: 6vw;
    left: 2.7%;
    
}
.panel-heading{
    font-size: 140%;
    text-align: center;
}
.hero-spacer {
    margin-top: 50px;
}
/* Footer */


#contact .content{
    padding-top: 5%;
    position: relative;
    right: 0%;
    
}
#events h1{
    font-family: 'Enriqueta', serif;
    font-size: 400%;
}
.event-pic{
    width: 50%;
}
.footer-background{
    height: 52%;
    background: url(../images/cmu.jpg) no-repeat center center fixed;
}

.btn-contact{
    position: relative;
    vertical-align: center;
    bottom: 10px;
    left: 0%;
    
}
