.bodyin {
	background-color:#000000;
	margin:15px;
	color:#CCCCCC;
	font-family:Arial, Helvetica, sans-serif;
  background: #fff65e; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #fff65e 0%, #febf04 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #fff65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #fff65e 0%,#febf04 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #fff65e 0%,#febf04 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #fff65e 0%,#febf04 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff65e', endColorstr='#febf04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#banner {
	width:600px;
	height:300px;
	margin:50px auto;
	position:relative;
    visibility:hidden;
    z-index: 10;
	
}
#peacock {
	cursor: pointer;
	left: 4%;
    bottom: -10%;
    margin-bottom: 33vh;
	position: relative;
    z-index: 100;
}
#peacockBody {
	position:absolute;
	width:16vw;
	height:32vh;
	left:27%;
	top: 15vh;
	background-image: url(../images/peacockbodyfull.png);
	background-repeat: no-repeat;
}
#feathers {
	height:350px;
	width: 576px;
	position:absolute;
   -webkit-backface-visibility: hidden;
}

.feather {
        position:absolute;
        width:110px;
        height:288px;
        left:240px;
        top:20px;
        background-image: url(../images/peacockfeather.png);
}
.feather:hover{
      background-image: url(../images/peacockfeathersel.png);
}


#f1:hover,
#f2:hover {


}

